{% extends 'base.html' %}
{% block content %}
<h1 class="display-1">Explore</h1>
<p class="lead">Know your potential</p>
<hr>
<br>
<blockquote>
    <h1 class="display-4">Why this community is built</h1>
    <p class="h5" style="line-height: 1.5em;">The TechBlog™ community is buit for people who love to share and help other people whenever they get stuck. We have built this platform for people to help each other and make project making fun. We encourage people to get together and work in harmony for the wellbeing of all. People can make groups to work on a project or send blogs or videos that explain a topic or problem very significantly and make work much easier for other co-workers or users. Our main goal is to help everyone and enhance the art of <strong>Problem Solving</strong> through this platform.</p>
</blockquote>
<hr>
<blockquote>
    <h1 class="display-4">What do we offer</h1>
    <p class="h5" style="line-height: 1.5em;">The TechBlog™ community offers a platform for group work and online chat to all and allow our members to share <em>text, images, videos, codes, projects and even more...</em> with any other member.</p>
</blockquote>
<hr>
<br>
{% endblock %}