{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                {{ form | crispy }}
                <br>
                <button class="btn btn-light" type="submit"> Login </button>
            </div>
            <div class="card-footer">                
                <small class="text-muted">
                    Don't Have An Account? <a class="link" href="{% url 'Register' %}">Register</a>
                </small>
            </div>
        </div>
    </form>
</div>
{% endblock %}
